name: Go

on:
  pull_request: {}
  push:
    branches:
      - main

    tags:
      - "*"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Set up Go
        uses: actions/setup-go@v6.0.0
        with:
          go-version: "^1.24.0"

      - name: Run GolangCI-Lint
        uses: golangci/golangci-lint-action@v8.0.0
